main{
    padding: 39px;
    display: flex;
    flex-wrap: wrap
    
}

.main2 {  display: grid;
    grid-template-columns: 1fr 1fr 0.5fr 1fr 1fr;
    grid-template-rows: 0.5fr 0.5fr 1fr 1fr 0.5fr 0.5fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "main2__caba main2__caba main2__caba main2__caba main2__caba"
      "main2__cerrito main2__cerrito . main2__charcas main2__charcas"
      "img img . img2 img2"
      "img img . img2 img2"
      "main2__mardelplata main2__mardelplata main2__mardelplata main2__mardelplata main2__mardelplata"
      "main2__leandro main2__leandro . main2__diagonal main2__diagonal"
      "img3 img3 . img4 img4"
      "img3 img3 . img4 img4";
  }
  
  .main2__cerrito { grid-area: main2__cerrito; }
  
  .main2__caba { grid-area: main2__caba; }
  
  .main2__charcas { grid-area: main2__charcas; }
  
  .img { grid-area: img; }
  
  .img2 { grid-area: img2; }
  
  .main2__mardelplata { grid-area: main2__mardelplata; }
  
  .main2__diagonal { grid-area: main2__diagonal; }
  
  .main2__leandro { grid-area: main2__leandro; }
  
  .img3 { grid-area: img3; }
  
  .img4 { grid-area: img4; }
  
.main2{
    margin: auto;
    text-align: center;
    color: #e9e96e;
    h5{
        padding: 30px;
    }
    iframe{
       width: 25vw;
    }
}



.main3{
    flex-direction: column;
    align-items: center;
    .main3__historia h1{
        text-align: center;
        color: #e9e96e;
        padding: 30px;
    }
    .main3__escrito img{
        align-items: center;
        width: 700px;
        width: 60vw;
        margin: auto;
    }
    .main3__escrito1{
        width: 600px;
        text-align: center;
        margin: auto;
    }
}



.main4{
 display: flex;
justify-content: space-evenly
}

.main5{
    text-align: center;
    display: flex;
    flex-direction: column
    
}

.main5 h1{
    padding: 40px;
    color: #e9e96e;
}